<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Request OTP</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  
  <form class="form-container">
    <div class="notification" id="notification"></div>
    <div id="logo">
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
        <rect width="48" height="48" rx="12" fill="#4078c0"/>
        <path d="M12 16C12 14.8954 12.8954 14 14 14H34C35.1046 14 36 14.8954 36 16V32C36 33.1046 35.1046 34 34 34H14C12.8954 34 12 33.1046 12 32V16ZM14 16V16.382L24 24.382L34 16.382V16H14ZM34 18.618L24.7071 26.7071C24.3166 27.0488 23.6834 27.0488 23.2929 26.7071L14 18.618V32H34V18.618Z" fill="white"/>
      </svg>
    </div>
    <div class="form-title">Enter your email address</div>
    <label for="email">You will receive an email with one-time Password</label>
    <input type="email" id="email" name="email" required placeholder="you@example.com">
    <div class="button-row">
      <button type="submit">Next</button>
      <button class="cancel" type="button">Cancel</button>
    </div>
  </form>

  <script>
    const form = document.querySelector('.form-container');
    const email = document.getElementById('email');

    function notify(msg, type) {
        const n = document.getElementById('notification');
        n.textContent = msg;
        n.className = `notification ${type}`;
        n.style.display = 'block';
        setTimeout(() => n.style.display = 'none', 3000);
      }

    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      if (email.value) {
        
        const result = await fetch('https://adefemecommerce.onrender.com/api/users/getotp', {
          method: 'POST',
          headers: {'Content-Type': 'application/json'}
          , body: JSON.stringify({email: email.value})
        } )

        const resultData = await result.json();
        console.log(resultData);
        if(result.ok){
          window.location.href = `../verify/verify.html?email=${email.value}`;
        }
        else{
          notify(`${resultData.message}`, 'error');
        }
      } else {
        notify('input a valid email address','error');
      }
    })

    
  </script>

</body>
</html>
